$desk: 100/1920;

.clientlist_wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--fullBg);

  .clients_topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 * $desk + vw 10 * $desk + vw 30 * $desk + vw 10 * $desk + vw;

    .clients_label {
      color: var(--blackWhiteClr);

      .client_sublabel {
        color: #a5a5a5;
        font-size: 14 * $desk + vw;
      }

      .top_header {
        font-size: 30 * $desk + vw;
        font-family: cairo;
        letter-spacing: 0.1vw;
      }
    }

    .search_wrapper {
      display: flex;
      align-items: center;

      .search_container {
        padding-right: 26 * $desk + vw;
        position: relative;

        .search {
          width: 22 * $desk + vw;
          position: absolute;
          left: 4%;
          top: 52%;
          transform: translateY(-50%);
        }

        .search_superadmin {
          width: 460 * $desk + vw;
          padding: 16 * $desk + vw 16 * $desk + vw 16 * $desk + vw 50 * $desk +
            vw;
          background-color: var(--blackWhiteBg);
          border-radius: 8px;
          border: var(--searchBrd);
          outline: none;
          color: var(--blackWhiteClr);
          font-size: 18*$desk+vw;
          font-weight: var(--fontWgt);
        }

        .search_superadmin::placeholder {
          font-size: 14 * $desk + vw;
          font-weight: 600;
        }
      }
    }
  }

  .divider {
    width: 100%;
    background-color: #4136f1;
    height: 1 * $desk + vw;
    opacity: 0.2;
  }

  .clients_cards_wrapper {
    padding: 40 * $desk + vw 20 * $desk + vw;

    .noClients {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      color: var(--blackWhiteClr);
      font-weight: var(--fontWgt);
      font-size: 20 * $desk + vw;
    }

    .client_info_card {
      display: flex;
      gap: 60 * $desk + vw;
      flex-wrap: wrap;

      .main_card {
        box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
        background-color: var(--blackWhiteBg);
        padding: 16 * $desk + vw;
        border-radius: 14px;
        position: relative;
        overflow: hidden;
        margin: 0.4vw;
        max-width: 200*$desk+vw;

        .client_profile {
          .profile_icon {
            width: 120 * $desk + vw;
            display: block;
            margin: auto;
          }

          .name {
            font-size: 15 * $desk + vw;
            font-weight: var(--fontWgt);
            color: var(--blackWhiteClr);
            text-align: center;
            padding-top: 0.6vw;
          }
        }

        .client_info {
          .info_subwrapper {
            display: flex;
            align-items: center;
            margin-bottom: 16 * $desk + vw;
            font-size: 16 * $desk + vw;
            font-weight: var(--fontWgt);
            color: var(--blackWhiteClr);

            .icon {
              width: 32 * $desk + vw;
              object-fit: contain;
              margin-right: 16 * $desk + vw;
            }

            .email {
              white-space: nowrap;
              width: 160px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .info_subwrapper:last-child {
            margin-bottom: 0 * $desk + vw;
          }
        }

        .vw_edit_btn{
          background-color: #4136f1;
          color: #ffffff;
          width: 110 * $desk + vw;
          font-size: 14*$desk+vw;
          padding: 6*$desk+vw 0;
          border: none;
          border-radius: 8px;
          transition: 0.2s;
          cursor: pointer;
          display: block;
          margin: auto;
          margin-top: 20*$desk+vw;
        }

        .vw_edit_btn:hover{
          transform: scale(1.04);
        }

        
        .vw_edit_btn:active{
          transform: scale(0.96);
        }
      }
    }
  }
}
