$desk: 100/1920;

.form_wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--fullBg);

  .form {
    padding: 10 * $desk + vw 10 * $desk + vw 30 * $desk + vw 10 * $desk + vw;

    .form_label {
      .form_sublabel {
        color: #a5a5a5;
        font-size: 14 * $desk + vw;
      }

      .top_header {
        font-size: 30 * $desk + vw;
        font-family: cairo;
        letter-spacing: 0.1vw;
        color: var(--blackWhiteClr);
        font-weight: var(--fontWgt);
      }
    }

    .bottom_wrapper {
      position: relative;
      padding: 40 * $desk + vw;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
      background-color: var(--blackWhiteBg);
      margin-top: 20 * $desk + vw;
      border-radius: 14px;
      display: flex;
      height: 66vh;

      .form_client_profile {
        .form_profile_icon {
          width: 200 * $desk + vw;
        }

        .client_name {
          font-size: 20 * $desk + vw;
          text-align: center;
          padding-top: 10 * $desk + vw;
          color: var(--blackWhiteClr);
          font-weight: var(--fontWgt);
        }
      }

      .form_inputs {
        display: flex;
        gap: 30 * $desk + vw;
        flex-wrap: wrap;
        margin-left: 80 * $desk + vw;
        margin-bottom: 4vw;
      }
    }

    .btns {
      position: absolute;
      bottom: 6%;
      left: 50%;
      transform: translateX(-50%);

      .btn {
        background-color: #4136f1;
        border: none;
        width: 200 * $desk + vw;
        padding: 10 * $desk + vw 0;
        border-radius: 14px;
        color: #fff;

        cursor: pointer;
        transition: 0.2s;
        font-size: 18 * $desk + vw;
      }

      .back_btn {
        margin-right: 40 * $desk + vw;
        border: 1px solid #4136f1;
        background-color: var(--deleteBg);
        color: var(--backClr);
        font-weight: var(--fontWgt);
      }

      .btn:hover {
        transform: scale(1.04);
      }

      .btn:active {
        transform: scale(0.96);
      }
    }
  }

  .Popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1vw;
    z-index: 1000;
    backdrop-filter: blur(0.2vw);

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }

    .videoPopupContent {
      background: white;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      border: 3px solid #115bd4;
      border-top: 5.6px solid #115bd4;
      width: 34vw;
      position: relative;
      background-color: var(--blackWhiteBg);

      .blueInfo {
        position: absolute;
        left: 48%;
        top: -2%;
        transform: translateY(-50%);
        width: 1.6vw;
      }

      .ki {
        text-align: center;
        font-size: 18*$desk+vw;
        font-weight: bolder;
        padding-bottom: 0.6vw;
        color: var(--blackWhiteClr);
        letter-spacing: 0.06vw;
      }

      .Label {
        font-size: 16*$desk+vw;
        font-weight: 500;
        line-height: 1.4vw;
        text-align: center;
        color: var(--blackWhiteClr);
      }

      .okBtn {
        padding: 0.4vw 1.4vw;
        border-radius: 0.4vw;
        cursor: pointer;
        font-size: 18*$desk+vw;
        font-weight: var(--fontWgt);
        border: 1.8px solid #115bd4;
        background-color: var(--inpBg);
        display: block;
        margin: auto;
        margin-top: 1vw;
        color: var(--blackWhiteClr);
      }

      .okBtn:hover {
        transition: 0.2s;
        transform: scale(1.04);
      }

      .okBtn:active {
        background-color: #115bd4;
        color: white;
      }
    }
  }
}
